<!DOCTYPE html>
<html>
<head>
    <title>Douglas Fir</title>
    {{#block "styles"}}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../css/styles.css">
    {{/block}}
</head>
<body>

<h1>Welcome to my API world</h1>
<p>A Java/Spark application with a rest REST API for querying and retrieving scoped news and information. News, articles and posts are available to all users without navigating into any department, and others that are housed or classified within departments.
</p>

<p>Follow the steps on my github acoount to use this API <br> @ diana344(Github account) <br> news-portal project name </p>
</body>
</html>